// Position
.clearfix {
  @include clearfix();
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.p-relative {
  position: relative !important;
}

.p-absolute {
  position: absolute !important;
}

.p-fixed {
  position: fixed !important;
}

.p-sticky {
  position: sticky !important;
}

.p-centered {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.flex-centered {
  align-items: center;
  display: flex;
  justify-content: center;
}

// Spacing
@include margin-variant(0, 0);

@include margin-variant(1, $unit-1);

@include margin-variant(2, $unit-2);

@include margin-variant(3, $unit-3);

@include margin-variant(4, $unit-4);

@include margin-variant(5, $unit-5);

@include margin-variant(6, $unit-6);

@include margin-variant(7, $unit-7);

@include margin-variant(8, $unit-8);

@include margin-variant(9, $unit-9);

@include margin-variant(10, $unit-10);

@include margin-variant(11, $unit-11);

@include margin-variant(12, $unit-12);

@include margin-variant(13, $unit-13);

@include margin-variant(14, $unit-14);

@include margin-variant(15, $unit-15);

@include margin-variant(16, $unit-16);

@include margin-variant(17, $unit-17);

@include margin-variant(18, $unit-18);

@include margin-variant(19, $unit-19);

@include margin-variant(20, $unit-20);

@include padding-variant(0, 0);

@include padding-variant(1, $unit-1);

@include padding-variant(2, $unit-2);

@include padding-variant(3, $unit-3);

@include padding-variant(4, $unit-4);

@include padding-variant(5, $unit-5);

@include padding-variant(6, $unit-6);

@include padding-variant(7, $unit-7);

@include padding-variant(8, $unit-8);

@include padding-variant(9, $unit-9);

@include padding-variant(10, $unit-10);

@include padding-variant(11, $unit-11);

@include padding-variant(12, $unit-12);

@include padding-variant(13, $unit-13);

@include padding-variant(14, $unit-14);

@include padding-variant(15, $unit-15);

@include padding-variant(16, $unit-16);

@include padding-variant(17, $unit-17);

@include padding-variant(18, $unit-18);

@include padding-variant(19, $unit-19);

@include padding-variant(20, $unit-20);
